@charset "UTF-8";
@import url(../fonts/ITCFranklinGothicStd/stylesheet.css);
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "ITC Franklin Gothic Std", sans-serif;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
  color: #222;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  color: #FFF;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  max-width: 1136px;
  width: 100%;
  margin: 0 auto;
  color: #222;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h5 {
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h6 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.main_btn, .main_btn2 {
  width: 100%;
  padding: 16px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #222222;
  border-radius: 8px;
  background: transparent;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main_btn span, .main_btn2 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 14px;
  border-radius: 8px;
  background: #222;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main_btn2 {
  border: 1px solid #FFF;
  color: #222;
}
.main_btn2 span {
  background: #FFF;
}

.main_btn::before, .main_btn2::before {
  content: "";
  width: 90%;
  height: 4px;
  background: #FFF;
  position: absolute;
  top: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main_btn2::before {
  background: #222;
}

.main_btn::after, .main_btn2::after {
  content: "";
  width: 90%;
  height: 4px;
  background: #FFF;
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main_btn2::after {
  background: #222;
}

.main_btn:hover, .main_btn2:hover {
  color: #FFF;
  border-color: #009FE3;
}
.main_btn:hover span, .main_btn2:hover span {
  background: #009FE3;
}

.main_btn:hover::after, .main_btn2:hover::after {
  width: 0;
}

.main_btn:hover::before, .main_btn2:hover::before {
  width: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 88px;
  padding: 21px 0;
  background: #FFF;
  position: relative;
}

.header__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__navbar li {
  margin-right: 40px;
}
.header__navbar a {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__contacts .link {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__phone {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 40px;
}

.header__call {
  color: #009FE3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  border: 0;
  border-bottom: 1px dotted #009FE3;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 201px;
  height: 50px;
  margin-right: 24px;
}
.header__logo img {
  width: 100%;
}

.header__logo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 184px;
  height: 46px;
}
.header__logo2 img {
  width: 100%;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner {
  min-height: 856px;
}
.banner .slick-prev, .banner .slick-next {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  z-index: 9;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: auto;
  bottom: 80px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.banner .slick-prev {
  left: 45%;
}
.banner .slick-next {
  left: 55%;
}
.banner .slick-prev::before, .banner .slick-next::before {
  display: none;
}
.banner .slick-prev::after, .banner .slick-next::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.banner .slick-prev::after {
  left: 55%;
  border-top: 0;
  border-right: 0;
}
.banner .slick-next::after {
  left: 45%;
  border-left: 0;
  border-bottom: 0;
}
.banner .slick-prev:hover, .banner .slick-next:hover {
  background: #FFF;
  border-color: #FFF;
}
.banner .slick-prev:hover::after, .banner .slick-next:hover::after {
  border-color: #000000;
}

.banner__block {
  min-height: 856px;
  background: url(../img/banner.png) no-repeat center/cover;
}

.banner__wrap {
  max-width: 1136px;
  width: 100%;
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 200px;
}
.banner__wrap h1 {
  text-align: center;
  margin-bottom: 64px;
}
.banner__wrap p {
  max-width: 488px;
  width: 100%;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.company h2 {
  margin-bottom: 80px;
}
.company .container {
  padding-top: 130px;
  padding-bottom: 90px;
}

.company__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company__img {
  width: 100%;
  min-height: 722px;
  margin-bottom: 80px;
}
.company__img img {
  width: 100%;
}

.company__wrap {
  max-width: 488px;
  width: 100%;
  padding: 0 24px;
}
.company__wrap h5 {
  margin-bottom: 60px;
  position: relative;
}
.company__wrap p {
  margin-bottom: 58px;
  position: relative;
}
.company__wrap .link {
  display: block;
  width: 100%;
  color: #222;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  position: relative;
}
.company__wrap h5::before, .company__wrap p::before, .company__wrap .link::before {
  content: "";
  height: 30px;
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid rgba(79, 79, 79, 0.2);
  border-right: 1px solid rgba(79, 79, 79, 0.2);
  border-left: 1px solid rgba(79, 79, 79, 0.2);
  position: absolute;
  top: -16px;
  left: -16px;
  right: -16px;
}

.company__wrap:last-child h5 {
  text-align: end;
}

.company__center {
  max-width: 488px;
  width: 100%;
}

.company__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0 24px;
  margin-bottom: 40px;
}
.company__item p::before {
  display: none;
}

.company__num {
  width: 80px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.company__block {
  max-width: 330px;
  width: 100%;
}
.company__block p {
  display: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-top: 28px;
  margin-bottom: 0;
}

.company__item::before {
  content: "";
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid rgba(79, 79, 79, 0.2);
  border-right: 1px solid rgba(79, 79, 79, 0.2);
  border-left: 1px solid rgba(79, 79, 79, 0.2);
  position: absolute;
  top: -16px;
  left: -16px;
  right: -16px;
}

.company__item.open p {
  display: block;
}

.company__item.open::before {
  height: calc(100% + 16px);
}

.quantity .container {
  padding-bottom: 130px;
}

.quantity__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quantity__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 488px;
  width: 100%;
  height: 334px;
  position: relative;
  padding: 0 24px;
}
.quantity__block h5 {
  text-align: center;
}

.quantity__num {
  color: #009FE3;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.quantity__block::before {
  content: "";
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  position: absolute;
  top: -16px;
  left: 0px;
  right: 0px;
}

.quantity__block::after {
  content: "";
  height: 40px;
  border-radius: 0px 0px 8px 8px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  position: absolute;
  bottom: -16px;
  left: 0px;
  right: 0px;
}

.quantity__block:nth-child(2) {
  margin-top: 170px;
}

.info h2 {
  margin-bottom: 90px;
}
.info .container {
  padding-top: 130px;
  padding-bottom: 200px;
}
.info .products__tabBtn {
  margin-bottom: 130px;
}

.info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 24px;
  position: relative;
}

.info__box::before {
  content: "";
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid rgba(79, 79, 79, 0.2);
  border-right: 1px solid rgba(79, 79, 79, 0.2);
  border-left: 1px solid rgba(79, 79, 79, 0.2);
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
}

.info__box::after {
  content: "";
  height: 40px;
  border-radius: 0px 0px 8px 8px;
  border-right: 1px solid rgba(79, 79, 79, 0.2);
  border-bottom: 1px solid rgba(79, 79, 79, 0.2);
  border-left: 1px solid rgba(79, 79, 79, 0.2);
  position: absolute;
  bottom: -24px;
  left: 0px;
  right: 0px;
}

.info__img {
  max-width: 440px;
  width: 100%;
  height: 404px;
  position: relative;
  overflow: hidden;
}
.info__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.info__content {
  max-width: 440px;
  width: 100%;
}
.info__content p {
  color: #222;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.equipment {
  background: #222;
}
.equipment h2 {
  color: #FFF;
  margin-bottom: 70px;
}
.equipment .container {
  padding-top: 130px;
  padding-bottom: 250px;
}

.equipment__slider .slick-prev, .equipment__slider .slick-next {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  z-index: 9;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: auto;
  bottom: -120px;
  left: auto;
  right: 20px;
}
.equipment__slider .slick-prev {
  right: 90px;
}
.equipment__slider .slick-prev::before, .equipment__slider .slick-next::before {
  display: none;
}
.equipment__slider .slick-prev::after, .equipment__slider .slick-next::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.equipment__slider .slick-prev::after {
  left: 55%;
  border-top: 0;
  border-right: 0;
}
.equipment__slider .slick-next::after {
  left: 45%;
  border-left: 0;
  border-bottom: 0;
}
.equipment__slider .slick-prev:hover, .equipment__slider .slick-next:hover {
  background: #FFF;
  border-color: #FFF;
}
.equipment__slider .slick-prev:hover::after, .equipment__slider .slick-next:hover::after {
  border-color: #000000;
}

.equipment__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.equipment__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 488px;
  min-height: 1050px;
  padding: 0 24px;
  margin: 0 auto;
  position: relative;
}
.equipment__block p {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.equipment__block::before {
  content: "";
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  position: absolute;
  top: -24px;
  left: 0px;
  right: 0px;
}

.equipment__block::after {
  content: "";
  height: 40px;
  border-radius: 0px 0px 8px 8px;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #FFF;
  position: absolute;
  bottom: -24px;
  left: 0px;
  right: 0px;
}

.equipment__img {
  width: 100%;
  min-height: 906px;
  position: relative;
  overflow: hidden;
}
.equipment__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.equipment__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.equipment__btn span {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.equipment__btn::before {
  content: "";
  width: 10px;
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-radius: 4px 0 0 4px;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.equipment__btn::after {
  content: "";
  width: 10px;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-radius: 0 4px 4px 0;
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.equipment__btn:hover {
  border-color: #009FE3;
}
.equipment__btn:hover span {
  background: #009FE3;
}

.equipment__btn:hover::after, .equipment__btn:hover::before {
  opacity: 0;
}

.equipment__btn.link1 {
  top: 100px;
  left: 180px;
}

.equipment__btn.link2 {
  top: 480px;
  left: 110px;
}

.equipment__btn.link3 {
  top: 500px;
  left: auto;
  right: 90px;
}

.equipment__btn.link4 {
  top: 560px;
  left: 70px;
}

.equipment__btn.link5 {
  top: auto;
  bottom: 10px;
  left: 170px;
}

.equipment__btn.link6 {
  top: 210px;
  left: auto;
  right: 105px;
}

.equipment__btn.link7 {
  top: 30px;
  left: 200px;
}

.equipment__btn.link8 {
  top: 170px;
  left: 230px;
}

.equipment__btn.link9 {
  top: 190px;
  left: 50px;
}

.equipment__btn.link10 {
  top: 210px;
  left: 140px;
}

.equipment__btn.link11 {
  top: auto;
  left: auto;
  bottom: 150px;
  right: 130px;
}

.application {
  background: #222;
}
.application .container {
  padding-bottom: 130px;
}
.application h2 {
  color: #FFF;
  margin-bottom: 80px;
}

.application__wrap {
  max-width: 488px;
  width: 100%;
  margin: 0 auto;
}

.application__input {
  margin-bottom: 16px;
}
.application__input input {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #FFF;
  padding: 0 16px;
  background: transparent;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.application__input input::-webkit-input-placeholder {
  color: #FFF;
}
.application__input input::-moz-placeholder {
  color: #FFF;
}
.application__input input:-ms-input-placeholder {
  color: #FFF;
}
.application__input input::-ms-input-placeholder {
  color: #FFF;
}
.application__input input::placeholder {
  color: #FFF;
}

.application__textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 112px;
  min-height: 112px;
  max-height: 112px;
  border-radius: 8px;
  border: 1px solid #FFF;
  background: transparent;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 18px 16px;
  margin-bottom: 48px;
}

.application__textarea::-webkit-input-placeholder {
  color: #FFF;
}

.application__textarea::-moz-placeholder {
  color: #FFF;
}

.application__textarea:-ms-input-placeholder {
  color: #FFF;
}

.application__textarea::-ms-input-placeholder {
  color: #FFF;
}

.application__textarea::placeholder {
  color: #FFF;
}

.products h2 {
  margin-bottom: 90px;
}
.products .container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.products__tabBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
.products__tabBtn .btn {
  max-width: 488px;
  width: 100%;
  color: rgba(34, 34, 34, 0.6);
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  border: 0;
  position: relative;
  padding: 0 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.products__tabBtn .btn::before {
  content: "";
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid rgba(79, 79, 79, 0.2);
  border-right: 1px solid rgba(79, 79, 79, 0.2);
  border-left: 1px solid rgba(79, 79, 79, 0.2);
  position: absolute;
  top: -24px;
  left: 0px;
  right: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.products__tabBtn .btn.active, .products__tabBtn .btn:hover {
  color: #000;
}
.products__tabBtn .btn.active::before, .products__tabBtn .btn:hover::before {
  border-color: #000;
}

.products__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin-bottom: 80px;
}

.products__block {
  position: relative;
}

.products__img {
  width: 100%;
  min-height: 448px;
  margin-bottom: 40px;
  border-radius: 8px;
  border: 1px solid #222;
  position: relative;
  overflow: hidden;
}
.products__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 448px;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 24px 24px 26px 24px;
}
.products__content ul {
  color: #222;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products__content ul li::before {
  content: "• ";
}

.products__content::before {
  content: "";
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid #222;
  border-right: 1px solid #222;
  border-left: 1px solid #222;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.products__block:hover .products__content {
  opacity: 1;
}

.paginator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.paginator li {
  margin-right: 16px;
}
.paginator li:last-child {
  margin-right: 0;
}
.paginator a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #222;
  opacity: 0.5;
  color: #222;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.paginator a:hover, .paginator .active {
  opacity: 1;
}

.clients {
  background: #222;
}
.clients h2 {
  color: #FFF;
  margin-bottom: 80px;
}
.clients .container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.clients__wrap {
  position: relative;
  margin-bottom: 60px;
}

.clients__img {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 488px;
  height: 352px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40px;
  z-index: 9;
}

.clients__item {
  position: relative;
  cursor: pointer;
}

.clients__item:hover .clients__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__item::before {
  content: "";
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  opacity: 0.5;
  position: absolute;
  top: -24px;
  left: 0px;
  right: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.clients__title {
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reviews {
  background: #222;
}
.reviews h2 {
  color: #FFF;
  margin-bottom: 100px;
}
.reviews .container {
  padding-bottom: 160px;
}
.reviews .slick-prev, .reviews .slick-next {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  z-index: 9;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: auto;
  bottom: 80px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.reviews .slick-prev {
  left: 45%;
}
.reviews .slick-next {
  left: 55%;
}
.reviews .slick-prev::before, .reviews .slick-next::before {
  display: none;
}
.reviews .slick-prev::after, .reviews .slick-next::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.reviews .slick-prev::after {
  left: 55%;
  border-top: 0;
  border-right: 0;
}
.reviews .slick-next::after {
  left: 45%;
  border-left: 0;
  border-bottom: 0;
}
.reviews .slick-prev:hover, .reviews .slick-next:hover {
  background: #FFF;
  border-color: #FFF;
}
.reviews .slick-prev:hover::after, .reviews .slick-next:hover::after {
  border-color: #000000;
}

.reviews__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 488px;
  width: 100%;
  min-height: 753px;
  position: relative;
  padding: 0 24px;
}

.reviews__block::before {
  content: "";
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  opacity: 0.5;
  position: absolute;
  top: -24px;
  left: 0px;
  right: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.reviews__block::after {
  content: "";
  height: 40px;
  border-radius: 0px 0px 8px 8px;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #FFF;
  opacity: 0.5;
  position: absolute;
  bottom: -24px;
  left: 0px;
  right: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.reviews__wrap h5 {
  color: #FFF;
  text-align: start;
  margin-bottom: 16px;
}

.reviews__date {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reviews__img {
  width: 100%;
  min-height: 622px;
  position: relative;
  overflow: hidden;
}
.reviews__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.contacts {
  background: #222;
}
.contacts h2 {
  color: #FFF;
  margin-bottom: 100px;
}
.contacts .container {
  padding-bottom: 130px;
}

.contacts__wrap {
  max-width: 488px;
  width: 100%;
  margin: 0 auto;
}
.contacts__wrap .main_btn2 {
  margin-top: 24px;
}

.contacts__item {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 56px;
  position: relative;
}
.contacts__item a {
  display: block;
  color: #FFF;
  position: relative;
  z-index: 2;
}

.contacts__item::before {
  content: "";
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  opacity: 0.5;
  position: absolute;
  top: -16px;
  left: 0px;
  right: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer {
  background: #FFF;
}
.footer .container {
  padding-top: 72px;
  padding-bottom: 30px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 488px;
  width: 100%;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 237px;
  height: 58px;
  margin-right: 24px;
}
.footer__logo img {
  width: 100%;
}

.footer__logo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 224px;
  height: 56px;
}
.footer__logo2 img {
  width: 100%;
}

.footer__center {
  max-width: 488px;
  width: 100%;
}
.footer__center p {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}
.footer__center p a {
  color: #000;
}
.footer__center p:last-child {
  margin-bottom: 0;
}

.footer__right {
  max-width: 488px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__call {
  background: transparent;
  border: 0;
  color: #009FE3;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border-bottom: 1px dotted #009FE3;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
  position: relative;
}
.footer__bottom .center {
  max-width: 488px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.footer__bottom .center p {
  text-align: center;
  margin: 0 auto;
  color: #414141;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer__bottom .center p a {
  color: #009FE3;
}

.footer__bottom::before {
  content: "";
  height: 72px;
  border-radius: 16px 16px 0px 0px;
  border-top: 1px solid rgba(79, 79, 79, 0.2);
  border-right: 1px solid rgba(79, 79, 79, 0.2);
  border-left: 1px solid rgba(79, 79, 79, 0.2);
  opacity: 0.5;
  position: absolute;
  top: -24px;
  left: -40px;
  right: -40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__copy {
  max-width: 488px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.footer__copy p {
  color: #414141;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__kontur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 488px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.footer__kontur a {
  display: block;
  color: #414141;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 6px 0;
}
.footer__kontur a:hover {
  text-decoration: underline;
}
.footer__kontur img {
  margin-left: 12px;
}

.header__burgir {
  display: none;
}

@media screen and (max-width: 1024px) {
  section {
    display: none;
  }
  .header {
    min-height: 64px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burgir {
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 0;
    background: transparent;
  }
  .header__burgir span {
    display: block;
    width: 100%;
    min-height: 3px;
    height: 3px;
    background: #222222;
    margin: 2px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__burgir.active span:nth-child(2) {
    opacity: 0;
  }
  .header__burgir.active span:nth-child(1) {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  .header__burgir.active span:nth-child(3) {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .header__burgir.rotate span:nth-child(1) {
    -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
  }
  .header__burgir.rotate span:nth-child(3) {
    -webkit-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg);
  }
  .header__wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #FFFFFF;
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 9;
    padding: 0 16px;
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .header__wrap.open {
    height: calc(100vh - 64px);
    overflow-y: auto;
  }
  .header__navbar {
    padding-top: 40px;
  }
  .header__navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__navbar li {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .header__navbar a {
    font-size: 20px;
  }
  .header__contacts {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__contacts .link {
    display: block;
    font-size: 20px;
  }
  .header__call {
    font-size: 20px;
  }
  .header__phone {
    margin: 0;
    margin-top: 80px;
    margin-bottom: 24px;
    font-size: 20px;
  }
  .container {
    padding: 0 16px;
  }
  .header__center {
    position: relative;
    top: auto;
    left: auto;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .header__logo {
    width: 132px;
    height: 32px;
    margin-right: 8px;
  }
  .header__logo2 {
    width: 132px;
    height: 32px;
  }
  .footer .container {
    padding-top: 40px;
    padding-bottom: 45px;
  }
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__left {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }
  .footer__logo {
    width: calc(50% - 4px);
    margin: 0;
  }
  .footer__logo2 {
    width: calc(50% - 4px);
  }
  .footer__center p {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .footer__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
  .footer__call {
    font-size: 16px;
  }
  .footer__bottom {
    margin-top: 55px;
    padding: 0 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom::before {
    top: -16px;
    left: 0;
    right: 0;
    height: 27px;
  }
  .footer__copy {
    margin-bottom: 16px;
  }
  .footer__bottom .center {
    margin-bottom: 32px;
  }
  .footer__bottom .center p {
    text-align: start;
  }
  .footer__kontur {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .banner {
    display: block;
    min-height: 464px;
  }
  .banner__wrap {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .banner__block {
    min-height: 464px;
  }
  .banner__wrap h1 {
    margin-bottom: 24px;
  }
  h1 {
    font-size: 32px;
  }
  .banner__wrap p {
    font-size: 16px;
  }
  .banner .slick-prev, .banner .slick-next {
    bottom: 32px;
    width: 32px;
    height: 32px;
  }
  .banner .slick-prev::after, .banner .slick-next::after {
    width: 7px;
    height: 7px;
  }
  .banner .slick-prev {
    left: 35%;
  }
  .banner .slick-next {
    left: 65%;
  }
  .company {
    display: block;
  }
  .company .container {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .company__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h2 {
    font-size: 24px;
  }
  .company h2 {
    margin-bottom: 48px;
  }
  .company__wrap {
    padding: 0 16px;
    margin-bottom: 42px;
  }
  h5 {
    font-size: 20px;
  }
  .company__wrap h5 {
    margin-bottom: 24px;
  }
  .company__wrap h5::before, .company__wrap p::before, .company__wrap .link::before {
    top: -8px;
  }
  p {
    font-size: 16px;
  }
  .company__wrap p {
    margin-bottom: 38px;
  }
  .company__wrap p::before {
    display: none;
  }
  .company__wrap .link {
    font-size: 16px;
  }
  .company__img {
    min-height: auto;
    margin-bottom: 24px;
  }
  .company__center {
    margin-bottom: 48px;
  }
  .main_btn, .main_btn2 {
    padding: 8px;
    font-size: 14px;
  }
  .company__wrap:last-child h5 {
    text-align: start;
    margin-bottom: 40px;
  }
  .company__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-bottom: 38px;
  }
  .company__item p {
    margin-bottom: 0;
    font-size: 14px;
  }
  .company__num {
    font-size: 16px;
    margin-bottom: 18px;
  }
  h6 {
    font-size: 16px;
  }
  .company__item:last-child {
    margin-bottom: 0;
  }
  .company__wrap:last-child {
    margin-bottom: 0;
  }
  .quantity {
    display: block;
  }
  .quantity__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quantity__block:nth-child(2) {
    margin-top: 0;
  }
  .quantity__block {
    height: 210px;
    margin-bottom: 48px;
  }
  .quantity__block:last-child {
    margin-bottom: 0;
  }
  .quantity__block::before {
    top: -8px;
    height: 32px;
  }
  .quantity__block::after {
    height: 32px;
  }
  .quantity__num {
    font-size: 64px;
  }
  .quantity .container {
    padding-bottom: 90px;
  }
  .info {
    display: block;
  }
  .info h2 {
    margin-bottom: 48px;
  }
  .info .products__tabBtn {
    margin-bottom: 60px;
  }
  .info .container {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .info__box {
    padding: 0 16px;
  }
  .info__box::before {
    top: -16px;
  }
  .info__box::after {
    bottom: -16px;
  }
  .info__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .info__content p {
    font-size: 14px;
  }
  .info__img {
    height: 272px;
    margin-top: 40px;
  }
  .equipment {
    display: block;
  }
  .equipment .container {
    padding-top: 80px;
    padding-bottom: 160px;
  }
  .equipment h2 {
    margin-bottom: 48px;
  }
  .equipment__block {
    width: 100%;
    min-height: 720px;
    padding: 0 16px;
  }
  .equipment__block::before {
    top: -8px;
    height: 32px;
  }
  .equipment__block p {
    font-size: 20px;
  }
  .equipment__img {
    min-height: 609px;
  }
  .equipment__img img {
    height: auto;
    width: 100%;
  }
  .equipment__btn {
    width: 40px;
    height: 40px;
  }
  .equipment__block::after {
    height: 32px;
    bottom: -16px;
  }
  .application {
    display: block;
  }
  .application h2 {
    margin-bottom: 40px;
  }
  .application__input input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .application__input input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .application__input input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .application__input input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .application__input input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .application__textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .application__textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .application__textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .application__textarea::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .application__textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .application__textarea {
    margin-bottom: 24px;
  }
  .application .container {
    padding-bottom: 80px;
  }
  .products {
    display: block;
  }
  .products .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .products h2 {
    margin-bottom: 48px;
  }
  .products__tabBtn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .products__tabBtn .btn {
    margin-bottom: 32px;
    font-size: 20px;
  }
  .products__tabBtn .btn:last-child {
    margin-bottom: 0;
  }
  .products__tabBtn .btn::before {
    height: 32px;
    top: -8px;
  }
  .products__box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin-bottom: 40px;
  }
  .products__img {
    min-height: 300px;
    margin-bottom: 16px;
  }
  .products__content {
    width: calc(100% + 2px);
    height: 301px;
    margin-left: -1px;
    padding: 8px 16px 16px 16px;
  }
  .products__content ul {
    font-size: 16px;
  }
  .products__content::before {
    height: 32px;
  }
  .paginator a {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
  .clients {
    display: block;
  }
  .clients .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .clients h2 {
    margin-bottom: 52px;
  }
  .clients__item::before {
    height: 32px;
    top: -12px;
  }
  .clients__wrap {
    margin-bottom: 50px;
  }
  .clients__wrap:last-child {
    margin-bottom: 0;
  }
  .clients__title {
    font-size: 18px;
  }
  .clients__img {
    width: 100%;
    height: 260px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    margin-top: 12px;
  }
  .reviews {
    display: block;
  }
  .reviews .slick-prev, .reviews .slick-next {
    bottom: -70px;
    width: 32px;
    height: 32px;
  }
  .reviews .slick-prev::after, .reviews .slick-next::after {
    width: 7px;
    height: 7px;
  }
  .reviews .slick-prev {
    left: 35%;
  }
  .reviews .slick-next {
    left: 65%;
  }
  .reviews .container {
    padding-bottom: 150px;
  }
  .reviews h2 {
    margin-bottom: 40px;
  }
  .reviews__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews__block {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    min-height: 532px;
    padding: 0 16px;
    margin-top: 9px;
    margin-bottom: 17px;
  }
  .reviews__block::before {
    height: 32px;
    top: -8px;
  }
  .reviews__block::after {
    height: 32px;
    bottom: -16px;
  }
  .reviews__date {
    display: none;
  }
  .reviews__img {
    min-height: 422px;
  }
  .contacts {
    display: block;
  }
  .contacts h2 {
    margin-bottom: 52px;
  }
  .contacts__item {
    font-size: 18px;
    margin-bottom: 44px;
  }
  .contacts__item::before {
    height: 32px;
    top: -12px;
  }
  .contacts__wrap .main_btn2 {
    margin-top: 8px;
  }
  .contacts .container {
    padding-bottom: 80px;
  }
  .main {
    overflow: hidden;
  }
}